.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    width: 16rem;
    height: 16rem;
    /* animation: logorotate ease 4s infinite; */
}

@keyframes logorotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}