@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width:100%;
    height:100%;
}

body {
    display: box;
    color: white;
    background-color: #121125;
}

.menu {
    background-color: #c55368;
    margin-bottom: 1rem;
}

.menu button{
    border: transparent;
    outline: none;
}

.menu button:hover{
    font-size: 1rem;
}

.menu a{
    text-align: center;
    font-size: 1.4rem;
}

.menu a:hover{
    font-weight: bold;
}

.logo-size {
    font-size: 1.3rem;
}