.flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 16rem;
    height: 16rem;
    animation: logorotate ease 4s infinite;
}

@keyframes logorotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flex-item2 {
    flex-grow: 2;
}

.loginform {
    width: 70%;
    height: auto;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 255, 242);
}

.loginform input[type="text"],
input[type="password"] {
    width: 80%;
    border: 1px solid white;
    border-radius: 24px;
    padding: 0.7rem;
    outline: none;
    background: none;
    margin: 1rem auto;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.loginform input[type="text"]:hover,
input[type="password"]:hover {
    border: 1px solid #8c1bce;
}

::placeholder {
    text-align: center;
    font-size: 1.4rem;
    color: #add8e6;
    font-weight: normal;
    opacity: 0.7;
}

.loginform button[type="submit"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 0.6rem;
    width: 40%;
    outline: none;
    background: none;
    margin: 12px auto;
    text-align: center;
    color: #add8e6;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.25s;
}

.loginform button[type="submit"]:hover {
    color: whitesmoke;
    background: #651494;
}

.loginform a {
    color: #0fa6d8;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
}

.loginform a:hover {
    text-decoration: underline;
}

.forgotpassword {
    width: 90%;
    text-align: end;
}

#forgotpassword {
    font-size: 1.1rem;
}

.loginform h3 {
    text-align: center;
    color: #add8e6;
    font-weight: normal;
    margin: 1.2rem;
    font-size: 3.5rem;
}

.pform {
    width: 30rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    text-align: center;
}

.pform button[type="submit"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 11px 0px;
    width: 40%;
    outline: none;
    background: none;
    margin: 8px auto;
    text-align: center;
    color: #46a438;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s;
}

.pform button[type="submit"]:hover {
    color: white;
    background: #46a438;
}

.pformtext {
    border: 1px solid white;
    border-radius: 14px;
    padding: 11px 10px;
    width: 20rem;
    outline: none;
    background: none;
    margin: 10px auto;
    resize: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

.pformtext:hover {
    border: 1px solid #46a438;
}

.pformtext::placeholder {
    text-align: center;
    font-size: 1.5em;
    color: #e3ffc1;
    font-weight: normal;
    opacity: 0.6;
}

@media all and (max-width: 726px) {

    .flexbox-container {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo {
        width: 8rem;
        height: 8rem;
    }

    .loginform {
        width: 80%;
    }

    .loginform input[type="text"],
    input[type="password"] {
        padding: 0.7rem;
        width: 80%;
    }
}
